body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: black;
  background-image: url("./img/marcin.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.app{
  padding: 20px 30px;
  background-color: #efefef;
  opacity: .7;
  border-radius: 10px;
  max-width: 600px;
  align-items: center;
  margin: 0 auto;
}
h1{
  text-align: center;
  margin: 0;
}
h2{
  margin-bottom: 10px;
}
p {
  margin: 10px 0;
}
input {
  box-sizing: border-box;/* esta é uma prevenção, para que o elemento não ultrapasse a area do elemento pai */
}
button {
  background-color: purple;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
button:hover {
  opacity: 1;
  color: yellow;
}
.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}
.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.todo .botoes {
  position: relative;
}
.complete{
  height: 26px;
  width: 84px;
  background-color: green;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.remove {
  height: 26px;
  width: 84px;
  background-color: red;
  position: absolute;
  top: 15px;
  right: 20px;
}
.todo-form {
  padding-bottom: 1.5rem;  
}
input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}
.filter,
.search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-option {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.filter-option div {
  flex: 1 1 0;
}